<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crewfactory.main.dao.CKInterviewDao">
	<select id="select" parameterType="String" resultType="com.crewfactory.main.domain.CKInterviewDomain">
		SELECT 
			A.IDX, 
			A.RECRUITIDX, 
			A.ITVCODE, 
			A.LIMITCOUNT, 
			A.ITVLOCATION, 
			A.ITVDAY, 
			A.ITVTIME, 
			A.ITVTIMEEND,
			A.MNGNAME, 
			A.MNGTEL, 
			A.MNGMEMO,
			COUNT(CASE WHEN A.ITVCODE = '1차' THEN B.KORNAME ELSE C.KORNAME END) AS INTVCOUNT 
		FROM ck_interview_info A
		LEFT OUTER JOIN ck_recruit_volunteer B ON B.HOPEINTV1 = A.IDX 
		LEFT OUTER JOIN ck_recruit_volunteer C ON C.HOPEINTV2 = A.IDX 
		WHERE A.RECRUITIDX = #{CATENUM}
		GROUP BY A.IDX, A.RECRUITIDX, A.ITVCODE, A.LIMITCOUNT, A.ITVLOCATION, A.ITVDAY, A.ITVTIME, A.MNGNAME, A.MNGTEL, A.MNGMEMO
		ORDER BY A.ITVCODE ASC, A.ITVDAY ASC, A.ITVTIME ASC
	</select>

	<select id="select1st" parameterType="String" resultType="com.crewfactory.main.domain.CKInterviewDomain">
		SELECT 
			A.IDX, 
			A.RECRUITIDX, 
			A.ITVCODE, 
			A.LIMITCOUNT, 
			A.ITVLOCATION, 
			A.ITVDAY, 
			A.ITVTIME, 
			A.ITVTIMEEND,
			A.MNGNAME, 
			A.MNGTEL, 
			A.MNGMEMO,
			COUNT(B.CATENUM) AS INTVCOUNT 
		FROM ck_interview_info A
		LEFT OUTER JOIN ck_recruit_volunteer B ON B.HOPEINTV1 = A.IDX 
		WHERE A.RECRUITIDX = #{CATENUM}
		AND A.ITVCODE = '1차'
		GROUP BY A.IDX, A.RECRUITIDX, A.ITVCODE, A.LIMITCOUNT, A.ITVLOCATION, A.ITVDAY, A.ITVTIME, A.MNGNAME, A.MNGTEL, A.MNGMEMO
		ORDER BY A.ITVCODE ASC, A.ITVDAY ASC, A.ITVTIME ASC
	</select>
	
	<select id="select2nd" parameterType="String" resultType="com.crewfactory.main.domain.CKInterviewDomain">
		SELECT 
			A.IDX, 
			A.RECRUITIDX, 
			A.ITVCODE, 
			A.LIMITCOUNT, 
			A.ITVLOCATION, 
			A.ITVDAY, 
			A.ITVTIME, 
			A.ITVTIMEEND,
			A.MNGNAME, 
			A.MNGTEL, 
			A.MNGMEMO,
			COUNT(B.CATENUM) AS INTVCOUNT 
		FROM ck_interview_info A
		LEFT OUTER JOIN ck_recruit_volunteer B ON B.HOPEINTV2 = A.IDX 
		WHERE A.RECRUITIDX = #{CATENUM}
		AND A.ITVCODE = '2차'
		GROUP BY A.IDX, A.RECRUITIDX, A.ITVCODE, A.LIMITCOUNT, A.ITVLOCATION, A.ITVDAY, A.ITVTIME, A.MNGNAME, A.MNGTEL, A.MNGMEMO
		ORDER BY A.ITVCODE ASC, A.ITVDAY ASC, A.ITVTIME ASC
	</select>
	
	<select id="selectIntv1" parameterType="String" resultType="com.crewfactory.main.domain.CKInterviewDomain">
		SELECT 
			IDX,
			CONCAT(ITVDAY, ' ', ITVTIME, '시 ~ ', ITVTIMEEND, '시') AS ITVDAY
		FROM ck_interview_info 
		WHERE RECRUITIDX = #{CATENUM}
		AND ITVCODE = '1차'
		ORDER BY CONCAT(ITVDAY, ' ', ITVTIME, '시') ASC
	</select>
	
	<select id="selectIntv2" parameterType="String" resultType="com.crewfactory.main.domain.CKInterviewDomain">
		SELECT
			IDX, 
			CONCAT(ITVDAY, ' ', ITVTIME, '시 ~ ', ITVTIMEEND, '시') AS ITVDAY
		FROM ck_interview_info 
		WHERE RECRUITIDX = #{CATENUM}
		AND ITVCODE = '2차'
		ORDER BY CONCAT(ITVDAY, ' ', ITVTIME, '시') ASC
	</select>
	
	<select id="view" parameterType="int" resultType="com.crewfactory.main.domain.CKInterviewDomain">
		SELECT 
			*
		FROM ck_interview_info 
		WHERE idx = #{idx}
	</select>	
	
	<insert id="insert" parameterType="com.crewfactory.main.domain.CKInterviewDomain">
		INSERT INTO ck_interview_info (
			idx, recruitidx, itvcode, limitcount, itvlocation, itvday, itvtime, itvtimeend, mngmemo
		) VALUES (
			(select ifnull(max(idx)+1, 1) from ck_interview_info a),
			#{ recruitidx },
			#{ itvcode },
			#{ limitcount },
			#{ itvlocation },
			#{ itvday },
			#{ itvtime },
			#{ itvtimeend },
			#{ mngmemo }
		);
	</insert>
	
	<update id="update" parameterType="com.crewfactory.main.domain.CKInterviewDomain">
        UPDATE ck_interview_info SET
			itvcode = #{ itvcode },
			limitcount = #{ limitcount },
			itvlocation = #{ itvlocation },
			itvday = #{ itvday },
			itvtime = #{ itvtime },
			itvtimeend = #{ itvtimeend },
			mngmemo = #{ mngmemo }
		WHERE idx = #{idx};
    </update>
        
    <delete id="delete" parameterType="int">
        DELETE FROM ck_interview_info WHERE idx = #{idx}
    </delete>
</mapper>